{% extends "template.html" %}

{% block content %}

    <h1>Add new product:</h1>
    <form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(placeholder='Type name', size=75) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(placeholder='Type description', size=75) }}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(placeholder='Only integers allowed', size=75) }}
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

{% endblock %}
